html, body {
    margin: 0;
    padding: 0;
	scroll-behavior: smooth;
    background-color: #fff2df;
}

body {
    font: 100% Roboto, Arial, sans-serif;
}

a {
    color: #333333;
    font-weight: 600;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

input[type=text]{
    padding: 7px 10px;
    margin: 5px 2px;
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 6px;
}

input[type=number]{
    padding: 7px 10px;
    margin: 5px 2px;
    display: inline-block;
    border: 1px solid #868686;
    border-radius: 6px;
}

/*
 Title
*/
.header {
    width: 100vw;
    text-align: center;
    background-color: #181818;
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 2px #0f0f0f;
}

/*
 Point stats
*/

.points {
    width: 100vw;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.points-btn {
    background-color: #d2c2fd;
    border: 2px solid #0f0f0f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 7px 12px;
    border-radius: 4px;
    color: black;
}

.points-btn-current-turn {
    background-color: #b39afd;
    border: 5px solid #0f0f0f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 4px;
    color: black;
}

/*
 Body
*/

.content {
    padding: 20px 0px;
    text-align: center;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 750px){
    .content {
        width: 100vw;
    }
}

.continue-btn {
    background-color: rgb(0, 167, 0);
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 6px;
}

.answer-btn {
    background-color: #ef4fa6;
    border: 2px solid #0f0f0f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 4px;
    color: black;
    margin: 4px 4px;
    width: 400px;
    overflow: hidden;
}

.answer-btn-correct {
    background-color: #defabb;
    border: 2px solid #0f0f0f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 4px;
    color: black;
    margin: 4px 4px;
    width: 400px;
    overflow: hidden;
}

.answer-btn-would-be-correct {
    background-color: #fa8100;
    border: 2px solid #0f0f0f;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    padding: 7px 12px;
    border-radius: 4px;
    color: black;
    margin: 4px 4px;
    width: 400px;
    overflow: hidden;
}
