{% extends "base.html" %}
{% block content %}

<div class="result">
    {% if correct %}
    <h2>This was correct!</h2>
    <button class="answer-btn-correct" disabled>{{ correct_answer }}</button>
    {% else %}
    <h2>Sorry, this was not correct.</h2>
    <p>
        The correct answer was:<br>
        <button class="answer-btn-would-be-correct" disabled>{{ correct_answer }}</button>
    </p>
    {% endif %}
    <p>
        <a href="/{{game_id}}/question"><button class="continue-btn">Next Question <span id="seconds_id">(9)</span></button></a>
    </p>
</div>
{% endblock %}

{% block javascripts %}
<script>

var seconds = 9;
var interval = setInterval(
    () => {
        seconds -= 1;
        if(seconds <= 0){
            clearInterval(interval);
            window.location.href = "/{{game_id}}/question";
        }
        else{
            document.getElementById("seconds_id").innerHTML = `(${seconds})`;
        }
    },
    1000
);

</script>
{% endblock %}