{% extends "base.html" %}
{% block content %}

<div class="result">
    {% if correct %}
    <h2>This was correct!</h2>
    <button class="answer-btn-correct" disabled>{{ correct_answer }}</button>
    {% else %}
    <h2>Sorry, this was not correct.</h2>
    <p>
        The correct answer was:<br>
        <button class="answer-btn-would-be-correct" disabled>{{ correct_answer }}</button>
    </p>
    {% endif %}
    <p>
        <a href="/{{game_id}}/question"><button class="continue-btn">Next Question</button></a>
    </p>
</div>
{% endblock %}