{% extends "base.html" %}
{% block content %}

<h1>Welcome to <i>pyTeamQuiz</i></h1>

<div id="select_catalogs">
    <form action="/" method="post">
        Enter at least two team names:
        <br>
        <br>
        <input type="text" name="teams[]" placeholder="*Team 1" required><br>
        <input type="text" name="teams[]" placeholder="*Team 2" required><br>
        <input type="text" name="teams[]" placeholder="Team 3"><br>
        <input type="text" name="teams[]" placeholder="Team 4"><br>
        <input type="text" name="teams[]" placeholder="Team 5"><br>
        <br>
        Choose at least one question catalogue:
        <br>
        <br>
        {% for x in catalogue_names %}
        <nobr><input type="checkbox" name="catalogues[]" value="{{ x }}"> {{ x }} &nbsp;&nbsp;&nbsp;</nobr>
        {% endfor %}
        <br>
        <br>
        <br>
        <button type="submit" class="continue-btn">Start Game</button>
    </form>
</div>

{% endblock %}